# Volumes docker
volumes

# LINUX.X64_193000_db_home
# https://www.oracle.com/webapps/redirect/signon?nexturl=https://download.oracle.com/otn/linux/oracle19c/190000/LINUX.X64_193000_db_home.zip
*.zip
